RewriteEngine On
RewriteBase /cm/

# Front controller: encaminha rotas amigáveis para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
